@import '../../shared/style/common';

.dropdown {
  border-radius: 4px;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 1);
  background-color: $common-white;
  border: 1px solid #EAF0FA;
  position: absolute;
  z-index: 1;
  
  width: 300px;
}

.closed {
  display: none;
}

.item {
  color: $text-pale;
  padding: 6px 20px;

  &.active {
    padding: 7px 20px 6px;
    color: $text-blue;
  }

  &:hover {
    background-color: $secondary-grey;
    color: $text-primary;
  }
}

.wrapper {
  display: block;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 300px;
  font-size: 28px;

  &>div {
    color: $text-primary;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    &:hover {
      color: $text-blue;
      &>svg {
        fill: $text-blue;
      }
    }

    &>svg {
      fill: $text-primary;
      height: 24px;
      width: 24px;
      transform: scaleY(-1);
      transition: all 0.2s ease-in;
    }

    &.closed {
      &>svg {
        transform: scaleY(1);
      }
    }
  }
}